<div class="d-editor-container">
  <div class="b-editor-textarea-wrapper {{if disabled "disabled"}}
  {{if showPreview "b-editor-fifty"}} {{unless showPreview "b-editor-max"}} ">


    {{popup-input-tip validation=validation}}

    <div id="editor">
      b-editor
    </div>
  </div>


</div>
