{{#unless (and composer.category.replace_editor composer.topicFirstPost)}}
{{#unless advancedEditor}}
{{b-editor
  tabindex="4"
  composer=composer
  value=composer.reply
  placeholder=replyPlaceholder
  previewUpdated=(action "previewUpdated")
  markdownOptions=markdownOptions
  extraButtons=(action "extraButtons")
  importQuote=(action "importQuote")
  showUploadModal=showUploadModal
  togglePreview=(action "togglePreview")
  validation=validation
  loading=composer.loading
  forcePreview=forcePreview
  showLink=showLink
  showPreview=showPreview
  advancedEditor=advancedEditor
  composerEvents=true
  onExpandPopupMenuOptions=(action "onExpandPopupMenuOptions")
  onPopupMenuAction=onPopupMenuAction
  popupMenuOptions=popupMenuOptions
  disabled=disableTextarea
  outletArgs=(hash composer=composer editorType="composer")}}
{{else}}
  {{d-editor
    tabindex="4"
    value=composer.reply
    placeholder=replyPlaceholder
    previewUpdated=(action "previewUpdated")
    markdownOptions=markdownOptions
    extraButtons=(action "extraButtons")
    importQuote=(action "importQuote")
    showUploadModal=showUploadModal
    togglePreview=(action "togglePreview")
    validation=validation
    loading=composer.loading
    forcePreview=forcePreview
    showLink=showLink
    composerEvents=true
    onExpandPopupMenuOptions=(action "onExpandPopupMenuOptions")
    onPopupMenuAction=onPopupMenuAction
    popupMenuOptions=popupMenuOptions
    disabled=disableTextarea
    outletArgs=(hash composer=composer editorType="composer")}}

  {{#if site.mobileView}}
    <input type="file" id="mobile-uploader" multiple>
  {{/if}}
{{/unless}}
{{/unless}}
{{#if (and composer.category.replace_editor composer.topicFirstPost)}}
<div class="full_editor">{{component composer.category.replace_editor composer=composer }}</div>
{{/if}}
