.discourse-basic-editor {
}
.b-editor-fifty{
  width: 50%;
}
.b-editor-max{
  width: 100%;
}

.b-editor-textarea-wrapper {
  /* display: flex\\; */
  display: flex;
  flex-direction: column;
}

/* Element | http://0.0.0.0:9292/ */

.ck-editor__main {
  display: flex;
  flex-direction: column;
   flex: 1 1 auto;


}

/* Element | htt.ck.ck-editorp://0.0.0.0:9292/ */

#editor_container {
 display: flex;
 flex-direction: column;
   flex: 1 1 auto;
}


.b-dialog-inner {
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
  & > div {
    height: 0px;
  }
}

.b-editor-dialog {
    display: flex;
}

/* Inline #18 | http://0.0.0.0:9292/ */

.ck.ck-editor__editable_inline {
   height: 0px;
  flex: 1 1 auto;
}
//full_editor

/* Element | http://0.0.0.0:9292/ */

.full_editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  & > div {
    flex-grow: 1;
    display: flex;
  }
  & > div > div {
    flex-grow: 1;
    display: flex;
  }
}

/* Element | http://0.0.0.0:9292/ */
#global-notice-alert-bootstrap-mode {display:none!important;}
.create-topics-notice {display:none!important;}
.actions-dropdown {
  display: inline-flex;
  box-sizing: border-box;

  &.closed {
    .actions-dropdown-body {
      display: none;
    }
  }

  .actions-dropdown-body {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    background: var(--secondary);
    z-index: z("dropdown");
    //border: 1px solid var(--primary-low);
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .actions-dropdown-item {
    cursor: pointer;
    padding: 0.25em;
    display: flex;
    flex: 1;
    align-items: center;

    .d-icon {
      color: var(--primary-medium);
      margin-right: 0.25em;
    }

    &.separator {
      padding: 0;
      background: var(--primary-low);
      margin: 0.25em 0;

      &:hover {
        background: var(--primary-low);
      }
    }

    &:hover {
      background: var(--tertiary-low);
    }
    //taken from selectkit dropdown selectbox common scss
    margin: 0;

  .icons {
    display: flex;
    align-self: flex-start;
    margin-right: 0.5em;

    .d-icon {
      flex: 0 0 100%;
      overflow: hidden;
      font-size: $font-up-2;
      align-self: center;
      margin-right: 0;
    }
  }
  .texts {
      line-height: $line-height-medium;
      flex: 1 1 0%;
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .name {
        flex: 1 1 auto;
        font-weight: bold;
        font-size: $font-0;
        color: var(--primary);
        padding: 0;
        @include ellipsis;
        max-width: 100%;
      }

      .desc {
        flex: 1 1 auto;
        font-size: $font-down-1;
        font-weight: normal;
        color: var(--primary-medium);
        white-space: normal;
        min-width: 350px;
      }
    }
  }

  .actions-dropdown-header {
    cursor: pointer;
  }
}
